<footer class="mt-5 bg-light py-5 text-center">
    <div class="logo-footer">
        <img src="{{asset("image/logo.png")}}" alt="logo de l'application">
    </div>
    <p>Copyright LikeHome !</p>
</footer>