{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container cont-admin">
        <div class="items">
            <div class="item annonces">Annonces</div>
            <div class="item reservation">Réservations</div>
        </div>
        <div class="items">
            <div class="item comment-user">Commentaires</div>
            <div class="item user">Utilisateurs</div>
        </div>
        <div class="items">
            <div class="item show">Voir le site</div>
        </div>
    </div>
{% endblock %}
