{% extends 'base.html.twig' %}

{% block title %}Nos magnifiques annonces{% endblock %}

{% block body %}
    <div class="info">
        <h2 class="title-section"><span>Voici les annonces de nos hôtes !</span></h2>
    </div>
    <div class="container container-child cont-ad-show">


        <div class="row-ads">
            {% for ad in ads %}

                {% include 'ad/_ad.html.twig' %}

            {% endfor %}
        </div>
    </div>

{% endblock %}
